<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>天天果园-水果网购首选品牌,只为一份极致的新鲜!</title>
    <link rel="shortcut icon" href="http://www.fruitday.com/favicon.ico">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/help.css">
</head>

<body>
    <div id="header">
        <!-- 最上面的部分 -->
        <div class="top">
            <div class="container">
                <div class="top_left">
                    <div class="top_down">
                        <i class="ico che"></i>
                        <span>上海</span>
                        <i class="ico san"></i>
                        <div class="down_text">
                            <h3>热门城市：</h3>
                            <p>
                                <a href="###" ng-click="tih($event)">上海</a>
                                <a href="###" ng-click="tih($event)">广州</a>
                                <a href="###" ng-click="tih($event)">北京</a>
                                <a href="###" ng-click="tih($event)">苏州</a>
                                <a href="###" ng-click="tih($event)">南京</a>
                                <a href="###" ng-click="tih($event)">深圳</a>
                            </p>
                            <h3>选择城市：</h3>
                            <ul>
                                <li><a href="###" ng-click="tih($event)">上海</a></li>
                                <li><a href="###" ng-click="tih($event)">上海崇明</a></li>
                                <li>
                                    <a href="###" class="c_down">江苏</a>
                                    <ul class="down_list">
                                        <li><a href="###" ng-click="tih($event)">常州</a></li>
                                        <li><a href="###" ng-click="tih($event)">淮安</a></li>
                                        <li><a href="###" ng-click="tih($event)">连云港</a></li>
                                        <li><a href="###" ng-click="tih($event)">南京</a></li>
                                        <li><a href="###" ng-click="tih($event)">南通</a></li>
                                        <li><a href="###" ng-click="tih($event)">苏州</a></li>
                                        <li><a href="###" ng-click="tih($event)">泰州</a></li>
                                        <li><a href="###" ng-click="tih($event)">无锡</a></li>
                                        <li><a href="###" ng-click="tih($event)">宿迁</a></li>
                                        <li><a href="###" ng-click="tih($event)">徐州</a></li>
                                        <li><a href="###" ng-click="tih($event)">盐城</a></li>
                                        <li><a href="###" ng-click="tih($event)">扬州</a></li>
                                        <li><a href="###" ng-click="tih($event)">镇江</a></li>
                                    </ul>
                                    <i class="arrows"></i>
                                </li>
                                <li>
                                    <a href="###" class="c_down">浙江</a>
                                    <ul class="down_list">
                                        <li><a href="###" ng-click="tih($event)">杭州</a></li>
                                        <li><a href="###" ng-click="tih($event)">湖州</a></li>
                                        <li><a href="###" ng-click="tih($event)">嘉兴</a></li>
                                        <li><a href="###" ng-click="tih($event)">金华</a></li>
                                        <li><a href="###" ng-click="tih($event)">丽水</a></li>
                                        <li><a href="###" ng-click="tih($event)">宁波</a></li>
                                        <li><a href="###" ng-click="tih($event)">衢州</a></li>
                                        <li><a href="###" ng-click="tih($event)">绍兴</a></li>
                                        <li><a href="###" ng-click="tih($event)">台州</a></li>
                                        <li><a href="###" ng-click="tih($event)">温州</a></li>
                                        <li><a href="###" ng-click="tih($event)">舟山</a></li>
                                    </ul>
                                    <i class="arrows"></i>
                                </li>
                                <li>
                                    <a href="###" class="c_down">安徽</a>
                                    <ul class="down_list">
                                        <li><a href="###" ng-click="tih($event)">安庆</a></li>
                                        <li><a href="###" ng-click="tih($event)">蚌埠</a></li>
                                        <li><a href="###" ng-click="tih($event)">亳州</a></li>
                                        <li><a href="###" ng-click="tih($event)">池州</a></li>
                                        <li><a href="###" ng-click="tih($event)">滁州</a></li>
                                        <li><a href="###" ng-click="tih($event)">阜阳</a></li>
                                        <li><a href="###" ng-click="tih($event)">合肥</a></li>
                                        <li><a href="###" ng-click="tih($event)">淮北</a></li>
                                        <li><a href="###" ng-click="tih($event)">淮南</a></li>
                                        <li><a href="###" ng-click="tih($event)">黄山</a></li>
                                        <li><a href="###" ng-click="tih($event)">六安</a></li>
                                        <li><a href="###" ng-click="tih($event)">马鞍山</a></li>
                                        <li><a href="###" ng-click="tih($event)">铜陵</a></li>
                                        <li><a href="###" ng-click="tih($event)">芜湖</a></li>
                                        <li><a href="###" ng-click="tih($event)">宿州</a></li>
                                        <li><a href="###" ng-click="tih($event)">宣城</a></li>
                                    </ul>
                                    <i class="arrows"></i>
                                </li>
                                <li><a href="###" ng-click="tih($event)">北京</a></li>
                                <li><a href="###" ng-click="tih($event)">天津</a></li>
                                <li>
                                    <a href="###" class="c_down">河北</a>
                                    <ul class="down_list">
                                        <li><a href="###" ng-click="tih($event)">石家庄</a></li>
                                        <li><a href="###" ng-click="tih($event)">廊坊</a></li>
                                        <li><a href="###" ng-click="tih($event)">承德</a></li>
                                        <li><a href="###" ng-click="tih($event)">唐山</a></li>
                                        <li><a href="###" ng-click="tih($event)">保定</a></li>
                                        <li><a href="###" ng-click="tih($event)">沧州</a></li>
                                        <li><a href="###" ng-click="tih($event)">邯郸</a></li>
                                        <li><a href="###" ng-click="tih($event)">衡水</a></li>
                                        <li><a href="###" ng-click="tih($event)">秦皇岛</a></li>
                                        <li><a href="###" ng-click="tih($event)">邢台</a></li>
                                        <li><a href="###" ng-click="tih($event)">张家口</a></li>
                                    </ul>
                                    <i class="arrows"></i>
                                </li>
                                <li>
                                    <a href="###" class="c_down">广东</a>
                                    <ul class="down_list">
                                        <li><a href="###" ng-click="tih($event)">深圳</a></li>
                                        <li><a href="###" ng-click="tih($event)">广州</a></li>
                                        <li><a href="###" ng-click="tih($event)">珠海</a></li>
                                        <li><a href="###" ng-click="tih($event)">汕头</a></li>
                                        <li><a href="###" ng-click="tih($event)">韶关</a></li>
                                        <li><a href="###" ng-click="tih($event)">佛山</a></li>
                                        <li><a href="###" ng-click="tih($event)">江门</a></li>
                                        <li><a href="###" ng-click="tih($event)">湛江</a></li>
                                        <li><a href="###" ng-click="tih($event)">茂名</a></li>
                                        <li><a href="###" ng-click="tih($event)">肇庆</a></li>
                                        <li><a href="###" ng-click="tih($event)">惠州</a></li>
                                        <li><a href="###" ng-click="tih($event)">梅州</a></li>
                                        <li><a href="###" ng-click="tih($event)">汕尾</a></li>
                                        <li><a href="###" ng-click="tih($event)">河源</a></li>
                                        <li><a href="###" ng-click="tih($event)">阳江</a></li>
                                        <li><a href="###" ng-click="tih($event)">清远</a></li>
                                        <li><a href="###" ng-click="tih($event)">东莞</a></li>
                                        <li><a href="###" ng-click="tih($event)">中山</a></li>
                                        <li><a href="###" ng-click="tih($event)">揭阳</a></li>
                                        <li><a href="###" ng-click="tih($event)">云浮</a></li>
                                        <li><a href="###" ng-click="tih($event)">潮州</a></li>
                                    </ul>
                                    <i class="arrows"></i>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <span>满百包邮（环郊内）</span>
                    <a href="xyd.html">星夜达</a>
                </div>
                <div class="top_right">
                    <ul>
                        <li class="fir" ng-hide="bol">
                            <a href="load.html" class="fir_a">[ 登录 ]</a>
                            ，
                            <a href="regist.html">[ 注册有惊喜 ]</a>
                        </li>
                        <li ng-show="bol">
                            <span>您好，<a href="person1.html" ng-bind="tel"></a></span>
                            <a href="#" ng-click="clearCookie()">退出</a>
                        </li>
                        <li>|</li>
                        <li class="gog">
                            果园公告
                            <div class="list-unstyled">
                                <ul>
                                    <li>
                                        <a href="notices.html">全仓充值活动调整公告</a>
                                        <em class="new">new</em>
                                    </li>
                                    <li>
                                        <a href="notices.html">全仓充值活动调整公告</a>
                                        <em class="new">new</em>
                                    </li>
                                    <li>
                                        <a href="notices.html">全仓充值活动调整公告</a>
                                        <em class="new">new</em>
                                    </li>
                                    <li>
                                        <a href="notices.html">全仓充值活动调整公告</a>
                                        <em class="new">new</em>
                                    </li>
                                </ul>
                                <p><a href="notice.html">查看更多 ></a></p>
                            </div>
                        </li>
                        <li>|</li>
                        <li><a href="person8.html">劵卡兑换</a></li>
                        <li>|</li>
                        <li class="phone">
                            <i class="ico shoji"></i>
                            手机果园
                            <div class="list-unstyled">
                                <p>
                                    <a href="###">下载果园app，</a>
                                    即享果园特价商品
                                </p>
                                <dl>
                                    <dt>
                                        <img src="images/guan_ewcode1.jpg" alt="">
                                    </dt>
                                    <dd>
                                        <a href="###" class="btn"><img src="images/guan_btn01.jpg" alt=""></a>
                                        <a href="###" class="btn"><img src="images/guan_btn02.jpg" alt=""></a>
                                    </dd>
                                </dl>
                                <dl class="m_b">
                                    <dt>
                                        <img src="images/guan_ewcode2.jpg" alt="">
                                    </dt>
                                    <dd>
                                        <a href="###" class="f_a">关注果园微信</a>
                                        <p>优惠信息实时掌握</p>
                                    </dd>
                                </dl>
                            </div>
                        </li>
                        <li>|</li>
                        <li><b><i class="ico kefu"></i>400-720-0770</b></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- nav -->
        <div class="nav">
            <div class="container">
                <a href="index.html" class="logo"></a>
                <div class="nav_right" style="background-position: -24px -995px">
                    <div>
                        <p>3</p>
                        <span>确认订单信息</span>
                    </div>
                    <div>
                        <p>2</p>
                        <span>成功提交订单</span>
                    </div>
                    <div class="nr_fir">
                        <p>1</p>
                        <span>我的购物车</span>
                    </div>
                </div>
                <!-- 清浮动 -->
                <div class="clear"></div>
            </div>
        </div>
    </div>
    <div class="middle">
        <div class="middle-nav">
            <div class="middle-nav1">
                <div class="middle-nav1-img"><img src="images/suc.png" alt=""></div>
                <div class="middle-nav1-dan">
                    <p>您已成功提交订单！</p>
                    <p>请在15分钟内进行付款，超过时间后系统将自动取消订单！</p>
                    <div>
                        <p>您的订单号:</p>
                        <span>170703032248</span>
                    </div>
                </div>
                <div class="middle-nav1-r">
                    <p>订单金额:<span>￥69.90</span>元</p>
                    <a href="####">查看订单详情></a>
                </div>
            </div>
            <div class="middle-nav2">
                <img class="kuang" src="images/downloaddd.jpg" alt="">
                <p>账户余额抵扣</p>
                <p>当前余额：￥0.00 元 (余额不支持购买充值卡 余额支付不支持开发票)</p>
                <p>余额抵扣: ￥0.00元</p>
            </div>
            <div class="middle-nav3">
                <div>
                    <p>请选择支付方式：</p>
                    <p>还需支付：<span>￥69.90</span>元</p>
                </div>
                <div class="zhifu addCss">
                    <div class="middle-nav3-1">

                        <img class="im1" src="images/downloaddd.jpg" alt="">
                        <img src="images/8_0.png" alt="">
                        <p>银联在线支付</p>
                        <img class="middle-img" a src="images/download23.jpg" alt="">
                    </div>
                </div>
                <div class="zhifu">
                    <div class="middle-nav3-2">
                        <img class="im1" src="images/downloaddd.jpg" alt="">
                        <img src="images/7_0.png" alt="">
                        <p>微信支付</p>
                         <img class="middle-img" src="images/download23.jpg" alt="">
                    </div>
                </div>
                <div class="zhifu">
                    <div class="middle-nav3-2">
                        <img class="im1" src="images/downloaddd.jpg" alt="">
                        <img src="images/1_0.png" alt="">
                        <p>支付宝</p>
                         <img class="middle-img" src="images/download23.jpg" alt="">
                    </div>
                </div>
                <div class="zhifu">
                    <div class="middle-nav3-2">
                        <img class="im1" src="images/downloaddd.jpg" alt="">
                        <img src="images/3_00105.png" alt="">
                        <p>广发银行信用卡(银联)</p>
                         <img class="middle-img" src="images/download23.jpg" alt="">
                         <p class="guang">广发满100减50，每周五10点开抢，限量4166单</p>
                    </div>
                </div>
                <div class="zhifu">
                    <div class="middle-nav3-2">
                        <img class="im1" src="images/downloaddd.jpg" alt="">
                        <img src="images/8_0.png" alt="">
                        <p>银联支付</p>
                         <img class="middle-img" src="images/download23.jpg" alt="">
                    </div>
                </div>
                <div class="zhifu">
                    <div class="middle-nav3-2">
                        <img class="im1" src="images/downloaddd.jpg" alt="">
                        <img src="images/3_00102.jpg" alt="">
                        <p>浦发银行信用卡</p>
                         <img class="middle-img" src="images/download23.jpg" alt="">
                    </div>
                </div>
                <div class="zhifu">
                    <div class="middle-nav3-2">
                        <img class="im1" src="images/downloaddd.jpg" alt="">
                        <img src="images/3_00101.png" alt="">
                        <p>交通银行信用卡</p>
                         <img class="middle-img" src="images/download23.jpg" alt="">
                    </div>
                </div>
                <div class="zhifu">
                    <div class="middle-nav3-2">
                        <img class="im1" src="images/downloaddd.jpg" alt="">
                        <img src="images/3_00003.png" alt="">
                        <p>中国建设银行</p>
                         <img class="middle-img" src="images/download23.jpg" alt="">
                    </div>
                </div>
                <div class="lv">立即支付</div>
            </div>
            <div class="zhuyi">
                <div class="zhu1">注意事项</div>
                <div class="zhu2">
                    <p>不支持无理由退换货</p>
                    <p>48小时可退换货，如有疑问，请拨打<span> 400-720-0770</span></p>
                </div>
            </div>
        </div>
    </div>
    <!-- footer -->
    <div class="foot">
        <div class="container content">
            <ul class="ul">
                <li class="fo_img1"></li>
                <li class="fo_img2"></li>
                <li class="fo_img3"></li>
                <li class="fo_img4"></li>
            </ul>
            <div class="footbar">
                <div class="block1 pull_left">
                    <div class="logo"></div>
                    <div class="tel">
                        <img src="./images/guan_tel.png" alt="">
                    </div>
                    <div class="font-gray">
                        <span class="f1">电话客服：</span><span class="f2">09:00 - 21:00</span>
                        <br>
                        <span class="f1">在线客服：</span><span class="f2">08:00 - 24:00</span>
                    </div>
                </div>
                <ul class="block2 pull_left">
                    <li>
                        <img src="./images/guan_ewcode1.jpg" alt="">
                        <span>天天果园官方微信</span>
                    </li>
                    <li>
                        <img src="./images/guan_ewcode2.jpg" alt="">
                        <span>天天果园APP</span>
                    </li>
                </ul>
                <ul class="block3 pull_left">
                    <li>
                        <h4>购物指南</h4>
                        <a href="help.html?id=0">新用户注册</a>
                        <a href="help.html?id=1">在线下单</a>
                        <a href="help.html?id=2">支付方式</a>
                    </li>
                    <li>
                        <h4>配送说明</h4>
                        <a href="help.html?id=3">运费说明</a>
                        <a href="help.html?id=4">运费方式</a>
                        <a href="help.html?id=5">发票说明</a>
                    </li>
                    <li>
                        <h4>售后服务</h4>
                        <a href="help.html?id=6">退换货规则</a>
                        <a href="help.html?id=7">服务保障承诺</a>
                        <a href="help.html?id=8">验货与签收</a>
                    </li>
                    <li>
                        <h4>企业服务</h4>
                        <a href="help.html?id=9">企业订购</a>
                        <a href="help.html?id=10">公司简介</a>
                        <a href="help.html?id=11">定制专区</a>
                    </li>
                </ul>
            </div>
            <div class="text-right">
                <p class="p1">版权所有 ©2017上海天天鲜果电子商务有限公司&nbsp;&nbsp;保留所有权利 |<a href="#">沪ICP备12042163</a>
                </p>
                <p class="p2">天天果园&nbsp;&nbsp;鲜果网购</p>
                <div>
                    <a href="https://www.sgs.gov.cn/lz/licenseLink.do?method=licenceView&amp;entyId=dov73ne26zbqpug3tq1p70teyahin76ot0">
                        <img class="fo_logo" src="http://img9.fruitday.com/guan_shgs.gif" border="0">
                    </a>
                    <a class="fo_logo2" href="http://shwg.dianping.com/index.html"><img src="http://img9.fruitday.com/guan_wgdjp.png" alt=""></a>
                </div>
            </div>
        </div>
    </div>
    <!-- 弹窗 -->
    <div id="_alert">
        <div class="al_box">
            <p>
                <span>删除该商品吗？</span>
                <i class="iconfont">&#xe60e;</i>
            </p>
            <div class="btn_box">
                <a href="###" class="true">确定</a>
                <a href="###" class="false">取消</a>
            </div>
        </div>
    </div>
    <script src="js/jquery-3.2.1.js"></script>
    <script src="js/common.js"></script>
    <script>
        $(".zhifu").each(function(index){
            $(this).click(function(){
                $(".zhifu").removeClass("addCss");
                $(this).addClass("addCss")

            })
        })
    </script>
</body>

</html>
